services:
  # Service Website (PHP + Apache)
  app:
    container_name: ${CONTAINER_NAME}
    build: .
    ports:
      - "${APP_PORT}:80"
    networks:
      - app-network
    depends_on:
      - db

  # Service Database (PostgreSQL)
  db:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # Service Adminer (Quản lý Database)
  adminer:
    image: adminer
    container_name: adminer-ui
    ports:
      - "${ADMINER_PORT}:8080"
    networks:
      - app-network
    depends_on:
      - db

volumes:
  postgres_data:

networks:
  app-network:
